* {
    font-family: 'Architects Daughter';
    background-color: lightgrey;
}

h1 {
    text-align: center;
}

.outerBox {
    width: 400px;
    height: 300px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 2px;
    border-radius: 5px;
    margin: auto;
    background-image: url('https://previews.123rf.com/images/ganpanjaneedesign/ganpanjaneedesign1807/ganpanjaneedesign180700015/110884612-green-grass-background-nature-texture.jpg')
}

.innerBox {
    border-style: solid;
    border-color: gray;
    border-width: 3px;
    border-radius: 5px;
    align-items: center;
    margin: 5%;
    width: 350px;
    height: 250px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
}

.answers{
    display: flex;
    flex-direction: column;
}

.results {
    display: relative;
    border-color: solid;
    border-width: 2px;
    border-color: lightgrey;
    text-align: center;
    font-size: 30px;
}

.correct {
    display: relative;
    border: solid 2px lightgrey;
    text-align: center;
    max-height: 150px;
}

.start {
    display: relative;
    border-color: solid;
    border-width: 2px;
    border-color: lightgrey;
    width: 350px;
    height: 250px;
    font-size: 36px;
}

.question {
    font-size: 18px;
    text-align: center;
}

.options {
    margin-left: 5%;
}
.questions {
    display: flex;  
    flex-direction: column;
}

.submit {
    margin: 0 25%;
    font-size: 20px;
    border: solid 2px green;
}

.restart {
    margin: auto;
    font-size: 18px;
    border: solid 2px green;
    text-align: center;
    width: 75%;
    height: 50%;
}

.stats {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
}

.nextButton {
    width: 350px;
    margin: auto;
}
.next {
    font-size: 18px;
    border: solid 2px green;
    width: 100%;
}

.logo {
    position: absolute;
    bottom: 0px;
    right: 10px;
    width: 15%;
}

.hidden {
    display: none;
}



/* Media Queries

/* @media only screen and (max-width: 600px) {
    .logo {
        
    }
  } 

@media only screen and (min-width: 600px) {
    .logo {

    }
  }

@media only screen and (min-width: 768px) {
    body {

    }
  }

@media only screen and (min-width: 992px) {
    body {

    }
  }

@media only screen and (min-width: 1200px) {
    body {

    }
  } */