* {
    font-family: 'Architects Daughter';
}

h1 {
    display: flex;
    position: relative;
    margin: 0 auto 0 auto;
    top: 30px;
    justify-content: center;
    font-size: 1.5em;
    background: rgba(245,245,246, 0.8);
    border-style: solid whitesmoke;
    border-width: .5px;
    border-radius: 5px;
    width: auto;
}

label, .explanation, .explanationSmall{
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
}

input[type=radio] {
    height: 1em;
    width: 1em;
    border: black solid 2px;
}

.box {
    border-style: solid whitesmoke;
    border-width: .5px;
    border-radius: 5px;
    align-items: center;
    margin: 20% auto 20% auto;
    width: 65%;
    max-width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background: rgba(245,245,246, 0.8);
}

.allButtons {

}

.percentScore {
  position: relative;
  bottom: 80px;
  font-size: 2em;
  width: auto;
  text-align: center;
}

.answers{
    display: flex;
    flex-direction: column;
}

.results {
    text-align: center;
}

.displayQuestion {
    font-size: 1.3em;
    margin: 5%;
}

.result {
    font-size: 1.75em;
    margin: 5%;
}

.start {
    width: 100%;
    height: 100%;
    font-size: 3em;
    background: none;
}

.question {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    text-align: center;
    margin: auto;
}

.options {
    margin-left: 5%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.submit, .next, .restart {
    margin: 5% auto 5% auto;
    width: 75%;
    font-size: 1em;
    border: solid 1.5px black;
    border-radius: 5px;
    background: rgba(245,245,246, 0.1)
}

.percentScore {

}

.stats {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-content: flex-start;
    font-size: 1em;
}

.stats div {
  margin: auto;
}

.hidden {
    display: none;
}

/* Media Queries */

@media only screen and (max-width: 699px) {

  * {
    color: black;
  }

  h2, h3 {
    font-size: 1.5em;
  }


}

@media only screen and (min-width: 700px) {

  * {
    color: whitesmoke;
  }

  body {
    background-image: url('images/background.jpg');
    background-size: cover;
  }

  h1 {
      display: flex;
      position: relative;
      margin: 0 auto 0 auto;
      top: 250px;
      justify-content: center;
      font-size: 1.95em;
      background: rgba(245,245,246, 0.1);
      border-color: whitesmoke;
      border-width: .5px;
      border-radius: 5px;
      width: 65%;
      max-width: 450px;
  }

  h2, h3 {
      font-size: 2.5em;
  }

  .box {
      background: rgba(245,245,246, 0.1);
  }

  .start {
      font-size: 5em;
  }

  .stats {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
  }

  .displayQuestion {
    font-size: 2.3em;
  }

  .submit, .next, .restart {
      border: solid 1.5px whitesmoke;
  }

  .result {
    font-size: 2.75em;
  }

}

/* @media only screen and (min-width: 992px) {...} */
